/* line 6, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
button {
  font-size: 9px;
  margin: 0 3px;
  padding: 0px 3px;
}

/* line 12, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_me_page_container {
  position: relative;
}

/* line 16, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_me_dev_tools_menu {
  position: fixed;
  right: 0;
  z-index: 990;
}
/* line 21, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_me_dev_tools_menu * {
  line-height: 14px;
}
/* line 25, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_me_dev_tools_menu .drag-me {
  line-height: 100%;
  display: block;
  color: black;
  font-size: 0.7em;
  text-align: center;
  background-image: -webkit-gradient(linear, 0deg, 0deg, color-stop(0%, #999999), color-stop(30%, #dddddd), color-stop(70%, #dddddd), color-stop(100%, #999999));
  background-image: -webkit-linear-gradient(0deg, #999999, #dddddd 30%, #dddddd 70%, #999999 100%);
  background-image: -moz-linear-gradient(0deg, #999999, #dddddd 30%, #dddddd 70%, #999999 100%);
  background-image: -o-linear-gradient(0deg, #999999, #dddddd 30%, #dddddd 70%, #999999 100%);
  background-image: -ms-linear-gradient(0deg, #999999, #dddddd 30%, #dddddd 70%, #999999 100%);
  background-image: linear-gradient(0deg, #999999, #dddddd 30%, #dddddd 70%, #999999 100%);
  padding: 1px;
}
/* line 31, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_me_dev_tools_menu .drag-me:hover {
  cursor: move;
}
/* line 38, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_me_dev_tools_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 49, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
.menu-item {
  text-align: left;
  background-color: #CCC;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 200px;
}
/* line 54, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
.menu-item a.collaps-button {
  cursor: pointer;
  position: absolute;
  padding-top: 9px;
  padding-left: 5px;
  width: 13px;
  height: 9px;
  border: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIlJREFUeNpivHDhQujz589TmZiYvjMQAP/+/eOQkZGZyfD//38ZIL77nzhwG4ilQJpA2BiIPxHQ8BGIDUHqYZpAOIWApiSYWmRNIDfPxaYaKD4bWR2KJiDmA+KzaHrOQMVxagJhfSD+ALXhA5TPQEgTCCcD8V+gpmRs8rg0MQI1eANpJmzyAAEGAKD/bax/HrzbAAAAAElFTkSuQmCC) no-repeat center center;
}
/* line 63, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
.menu-item a.collaps-button span {
  display: none;
  color: yellow;
}
/* line 66, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
.menu-item a.collaps-button span:hover {
  color: yellow;
}
/* line 71, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
.menu-item label.title {
  padding-left: 20px;
  color: white;
  cursor: pointer;
  width: 187px;
  line-height: 1.1em;
  font-size: 14px;
  background: none;
}
/* line 81, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
.menu-item.collapsed .item-content {
  display: none;
}
/* line 82, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
.menu-item.collapsed a.collaps-button {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAANCAYAAAB7AEQGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAKtJREFUeNpiuHz5ctD///+lgJgBF2Z68uRJOgMDw0EgNmTAAZiA4AeQVgHiA0CchFUREpsPiOcCjZ8NZWNVBAaMjIwpQGofEOvjVAQFxkATDwJxMkgNCy7HAk3kB1KzgApf4DIJBD4CcRpQ8TZcJp2D+vQiVjcBjZ8HpBxhCtAVfQbiVKDxIMd+QtbI8u/fP04gfQ+Iw4D4LDa7WSQlJUGBdxyIn+DyAUCAAQDxsEXD9kreLQAAAABJRU5ErkJggg==) no-repeat center center;
}

/* line 90, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel .content-mgnt-block {
  position: relative;
  line-height: 10px;
}
/* line 93, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel .content-mgnt-block .unicorns {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAklJREFUeNqEks1u00AQx3d27V3HdezY+SBpkKBFoBZxQEKIOwfegBs3rtwoPABvw3sgceKAuFWtUBBSaT6ctvHXer2zOElTVaoKI/2lWWl/O//ZGZi8jgSPxFv3JX93+CJvfJ4/09++vzH6S/SVH59+IohH5JagxBilC4zNHHigSLvtTCPRnLYxtB4b29ojGglBc1PG1PAyLfUxzszIX7B86MwLP/iVkS566DWeEgo+gfrWdV1VJoZgpUdqon84p1a+wxI1CA+l3Z+yqu89N5a9v65EVgK8TOpgH/edZS6JAZ97/AkfKjF3pTpRkUrlfQFnoGlaHNc2F0sAzPIFWIl9WMEGTYUZJfyB12ED2l9UE6bkDAcoy+0QznXJ8nIEBosNuIb3xLoBNIlRhNlc7Ho9dDA6l1OC8gKGUGEnhAyBFmpSu8zqf9jAzqZ/RIUxFDR0G2LQ6ueIwUzGFIuE95livS4p2RaUVQYas/p+xQ4eiavPqO2nKPUcCrvlCR50uqlirXGeiUWeua4uva6vebNDwHIJErq2fW0Mdfcxpjqmqe37Nnd73US64Ummt8a5bCpZhh5UrZanfS9gBw/5tcorGSz1TJ/rCTljoomOGDTLsh+NUz8Ypdz/ndBwlpFeIdn7Hevm9miD9QNxdVGNSQzGSR3ao6Duekm23fqT3Al/Ju3waAEnr1xyayxnymhgNcU9Z7sx5LtWA+6bquxXaeLr5J+wMZebRQwDiwW2x0O7I1y7ZxOrS+X/4Y0DXJ0pANhgM4sKRv4KMACD6UDbVgTzkgAAAABJRU5ErkJggg==) no-repeat center center;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 6px;
}
/* line 104, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel label {
  margin: 0;
  font-size: 14px;
}
/* line 109, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel .content-mgnt-block, #overlay_panel #images_mgnt {
  text-align: left;
  padding: 3px 4px;
  margin: 2px;
  border: 1px #777 solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 116, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel .content-mgnt-block legend, #overlay_panel #images_mgnt legend {
  font-size: 10px;
  padding: 0 3px;
  margin-left: 10px;
}
/* line 123, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel .slider-block {
  display: block;
}
/* line 125, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel .slider-block label {
  font-size: 70%;
  margin: 0 5px 0 0;
  vertical-align: top;
}
/* line 130, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel .slider-block input[type=range] {
  margin: 0;
}
/* line 135, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel #images_mgnt {
  width: 186px;
}
/* line 139, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel #images_mgnt .controls {
  padding-bottom: 5px;
}
/* line 141, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel #images_mgnt .controls label {
  margin-right: 5px;
}
/* line 146, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel #images_mgnt .overlay-image-block {
  text-align: left;
  position: relative;
  width: 186px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: none;
  border-left: none;
}
/* line 153, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel #images_mgnt .overlay-image-block.hovered {
  background-color: rgba(255, 255, 0, 0.5);
}
/* line 156, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel #images_mgnt .overlay-image-block .del-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 3px 7px;
  cursor: pointer;
  border: 1px #AAA solid;
  font-size: 80%;
  background-color: #444;
  color: white;
  font-weight: bold;
  padding: 0 4px 2px 4px;
}
/* line 172, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel #images_mgnt .dynamic-adds label {
  font-size: 75%;
}
/* line 175, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel #images_mgnt .dynamic-adds input {
  width: 95px;
  font-size: 10px;
}
/* line 182, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel input[type=checkbox], #overlay_panel label, #overlay_panel #contentSlider, #overlay_panel .zindex-switch {
  display: inline;
}
/* line 186, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_panel input[type=checkbox] {
  vertical-align: middle;
  margin: -3px 5px 0 0;
}

/* line 193, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_me_images_container {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
}
/* line 198, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_me_images_container div {
  position: absolute;
  visibility: hidden;
}
/* line 201, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_me_images_container div.highlight {
  background: rgba(255, 255, 0, 0.5);
  opacity: 1;
}
/* line 204, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_me_images_container div.highlight img {
  opacity: .7;
}
/* line 208, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_me_images_container div:hover {
  cursor: move;
}
/* line 212, /Users/ffmini/Programming/overlay_me/stylesheets/overlay_me.css.scss */
#overlay_me_images_container img {
  position: absolute;
  top: 0;
  left: 0;
}
